:root {
  --blue: rgba(94, 183, 255, 0.6);
  --txtClr: white;
  --headingTxtClr: #555;
  --subheadingTxtClr: rgb(230, 48, 25);
}
/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--txtClr);
}
#home {
  background-image: url(images/bg-1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--blue);
  font-weight: 500;
  font-size: 18px;
}
.logo {
  display: none; /* Hide the logo by default */
  width: 70px;
  height: auto;
  color: var(--txtClr);
}

.logo.show {
  display: block; /* Show the logo when the 'show' class is added */
}
/* Navbar Styles */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  flex: 1;
}

.nav-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list li a:hover {
  background-color: #555;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    text-align: center;
    border-bottom: 1px solid #777;
  }
}
.home-content {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 95%;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.home-content h1 {
  font-size: 60px;
}
.home-content h2 {
  font-size: 40px;
  color: rgb(207, 165, 255);
}
.btn-primary {
  padding: 8px 20px;
  background-color: transparent;
  border: 2px solid var(--txtClr);
  font-size: 20px;
  font-weight: 400;
  border-radius: 12px;
  margin-top: 20px;
  transition: 0.2s;
}
.btn-primary:hover {
  background-color: var(--blue);
  border: 0;
}

/* ----- Our Team Style ----- */
.our-team-text {
  text-align: center;
  font-size: 50px;
  margin-top: 5rem;
  font-weight: 700;
  color: var(--headingTxtClr);
}
.it {
  width: 100%;
  margin-left: 50px;
  color: var(--subheadingTxtClr);
}
.crousel {
  width: 100%;
  height: 60vh;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.team {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 95%;
  background-color: rgba(28, 218, 218, 0.8);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.name {
  font-size: 30px;
  font-weight: 600;
}
.team-image {
  width: 300px;
  height: 310px;
  z-index: 1;
}
.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.team-image::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  scale: 1.02;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    var(--blue) /* red,
    yellow,
    blue,
    rgb(51, 218, 45) */
  );
  z-index: -1;
  border-radius: 50%;
  animation: 1s spin forwards infinite;
}

.our-team {
  width: 100%;
  height: 100vh;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
